/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

h1,
h2,
h3 {
  color: #333;
}

/* menu.html */

.menu {
  background-color: #333333;
  padding: 10px;
  color: white;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.menu ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* index.html */
#portfolio-home {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #e0e0e0;
  height: 1500px;
}
.customer-photos img {
  max-height: 300px; /* 이미지 최대 높이 */
  object-fit: cover; /* 비율 유지하면서 크기 조정 */
  border-radius: 10px; /* 이미지 둥근 모서리 */
  margin: 0 auto; /* 중앙 정렬 */
}

.carousel-inner {
  text-align: center; /* 이미지를 중앙에 맞춤 */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* 화살표 버튼을 흰색으로 변경 (밝은 배경에 어울리게) */
}


/* 슬라이더 버튼 스타일 */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #007bff; /* 버튼 색상 */
  color: white; /* 버튼 글자 색상 */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  opacity: 0.8; /* 반투명 효과 */
}

.slider-btn:hover {
  opacity: 1;
}

/* 왼쪽 버튼 */
.slider-btn.prev {
  left: 10px; /* 슬라이더 왼쪽에 위치 */
}

/* 오른쪽 버튼 */
.slider-btn.next {
  right: 10px; /* 슬라이더 오른쪽에 위치 */
}





/* portfolio.html */
#portfolio-summary {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #e0e0e0;
}

.summary-card {
  text-align: center;
  padding: 15px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#stocks {
  padding: 20px;
}

.stock-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-card h3 {
  margin-top: 0;
}

canvas {
  margin-top: 10px;
}

/* 헤더 스타일 */
header {
  text-align: center;
  padding: 20px;
  background-color: lightblue;
  color: white;
}

header h1 {
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
}

/* 푸터 스타일 */
footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
  font-size: 0.9em;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  #portfolio-summary {
    flex-direction: column;
    align-items: center;
  }
}
